<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Simple Backend</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body class="main-page">
    <div class="container">
      <div class="content">
        <h1>Welcome to Simple Backend</h1>
        <p>
          This is the main page of the application. Click the button below to
          access the protected page.
        </p>
        <a href="/protected" class="btn">Go to Protected Page</a>
      </div>
    </div>
  </body>
</html>
